@font-face {
    font-family: noto-sans;
    src: url(../font/NotoSansTC-Regular.otf);
}
@font-face {
    font-family: nunito;
    src: url(../font/Nunito-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e6e7ee;
}

/* Navigation Style */

nav {
    display: flex;
    height: 7vh;
    padding: 7px;
    border: 1px solid #d1d1d1;
    background: #e6e7ee;
    box-shadow:  5px 5px 8px #bebebe,
             -5px -5px 8px #ffffff;
}

.nav-left {
    display: flex;
    align-items: center;
    flex: 50%;
    padding-left: 90px;
}

.nav-left .logo-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    font-family: noto-sans;
    font-size: 25px;
    margin-right: 30px;
    padding: 0px 12px 4px 12px;
    color: #414141;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    background: #e6e7ee;
    box-shadow:  5px 5px 10px #bebebe,
             -5px -5px 10px #ffffff;
}

.nav-left ul, .nav-left ul li {
    display: inline;
}

.nav-item {
    font-family: noto-sans;
    font-weight: 400;
    font-size: 16px;
    margin-left: 25px;
    text-decoration: none;
    color: #414141;
}

/* .group-btn-auth {
    margin-left:auto;
} */

.nav-right ul, .nav-right ul li {
    display: inline;
}

.nav-right {
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 90px;
}

.nav-right .btn-contact {
    font-family: noto-sans;
    font-size: 16px;
    font-weight: 400;
    color: #414141;
    text-decoration: none;
    padding: 8px 20px;
    margin-left: 30px;
    background-color: #e6e7ee;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    box-shadow:  3px 3px 4px #bebebe,
             -3px -3px 4px #ffffff;
}

.btn-contact:hover {
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    box-shadow: inset  3px 3px 4px #bebebe,
              inset -3px -3px 4px #ffffff;
}

/* Styling Navbar End */

/* Blog Form */
.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 10px 0;
}

.btn-add-new-blog {
    font-family: noto-sans;
    font-size: 16px;
    font-weight: 400;
    color: #414141;
    text-decoration: none;
    padding: 8px 20px;
    background-color: #e6e7ee;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    box-shadow:  3px 3px 4px #bebebe,
             -3px -3px 4px #ffffff;
}

.btn-add-new-blog:hover {
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    box-shadow: inset  3px 3px 4px #bebebe,
              inset -3px -3px 4px #ffffff;
}

.blog-section {
    width: 87%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


/* Blog List */

.blog-list-item {
    display: flex;
    align-items: center;
    background-color: aqua;
    height: 250px;
    margin-bottom: 15px;
    padding: 15px 10px;
    border: 1px solid #d1d1d1; 
    border-radius: 5px;
    background: #e6e7ee;
    box-shadow:  5px 5px 8px #bebebe,
             -5px -5px 8px #ffffff;
}

.blog-list-item .blog-image {
    display: flex;
    border-radius: 10px;
    flex: 1;
}

.blog-list-item .blog-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}
.blog-list-item .blog-content {
    padding-left: 20px;
    height: 100%;
    flex: 2;
    position: relative;
}

.blog-list-item .blog-content .distance-time{
    position: absolute;
    right: 25px;
    bottom: 20px;
    text-align: right; 
    font-size: 15px;
    color: rgb(190, 100, 100);
}

.btn-group {
    text-align: right;
    margin: 5px 0 15px 0;
}

.btn-group .btn-edit {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #e6e7ee;
    border: 1px solid #d1d1d1;
    text-decoration: none;
    color: #414141;
    font-family: noto-sans;
    border-radius: 5px;
    box-shadow:  3px 3px 4px #bebebe,
             -3px -3px 4px #ffffff;
}

.btn-group .btn-delete {
    padding: 5px 10px;
    background-color: #e6e7ee;
    border: 1px solid #d1d1d1;
    text-decoration: none;
    color: #414141;
    font-family: noto-sans;
    border-radius: 5px;
    box-shadow:  3px 3px 4px #bebebe,
             -3px -3px 4px #ffffff;
}

.btn-group a:hover {
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    box-shadow: inset  3px 3px 4px #bebebe,
              inset -3px -3px 4px #ffffff;
}

h2 a {
    text-decoration: none;
    color: #414141;
    font-family: noto-sans;
    line-height: 30px;
}

.detail-blog-content {
    font-family: nunito;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin: 8px 0;
    color: rgb(95, 95, 95);
  }

.blog-list-item p {
    font-family: nunito;
    font-weight: normal;
    font-size: 16px;
    color: rgb(95, 95, 95);
}


  /* Blog Detail */
.blog-detail {
    display: flex;
    justify-content: center;
  }
  
  .blog-detail-container {
    width: 80%;
    margin: 40px 0;
  }
  
  .blog-detail-container img {
    width: 100%;
  }
  
  .blog-detail-container h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 120%;
    margin-bottom: 15px;
    font-family: noto-sans;
  }
  
  .blog-detail-container .author {
    font-weight: 100;
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 20px;
    font-family: noto-sans;
  }
  
  .blog-detail-container p {
    margin-top: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    text-align: justify;
    font-family: nunito;
  }
  
  .alert {
    padding: 20px;
    background-color: mediumseagreen;
    color: white;
    margin-bottom: 15px;
  }
  
  .alert-text {
    font-family: nunito;
    margin-left: 80px;
  }